[Service]
AllowedCPUs=6-11
CPUWeight=50
Delegate=true
IOWeight=50
ManagedOOMSwap=kill
MemorySwapMax=0
Slice=QM.slice

[Container]
AddCapability=all
ContainerName=qm.slice
Exec=/sbin/init
Network=host
PodmanArgs=--security-opt nested=true
ReadOnly=true
Rootfs=/usr/lib/qm/rootfs
SecurityLabelFileType=qm_file_t
SecurityLabelType=qm_t
Volume=qmEtc:/etc:copy
Volume=qmVar:/var:copy
