# /etc/containers/systemd/rear-camera.container - demo purpose only quadlet file
#
# Every time this service is started, a screenshot is triggered.
# This simulates the effect of turning on the rear camera.
#
# The screenshot will be saved in the /tmp directory on the host as /tmp/screenshot.jpg.
# To view or download the screenshot, you can access it directly from the /tmp dir.:
#
[Install]
WantedBy=multi-user.target

[Container]
Image=quay.io/qm-images/multimedia:latest
Exec=fswebcam -r 1024x768 --jpeg 100 /tmp/screenshot.jpg
Volume=/tmp:/tmp
