[Unit]
Description=QM D-Bus User Message Bus Socket
After=dbus.socket

[Socket]
ListenStream=/run/dbus/qm_bus_socket


[Install]
WantedBy=sockets.target
