[Unit]
Description=Audio Container
After=network.target

[Container]
Image=quay.io/qm-images/audio:latest
Network=host
AddDevice=/dev/snd

[Install]
WantedBy=multi-user.target