[Unit]
Description=ROS 2 Container Development env
After=network.target

[Container]
Image=quay.io/qm-images/ros2:rolling
Exec=sleep infinity

[Install]
WantedBy=multi-user.target
