name: Build Subpackages

on:
  pull_request

jobs:
  build-subpackages:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest  # Use Fedora as the container image

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo dnf install -y git make rpmdevtools rpmbuild


      - name: Run make for each subsystem
        run: |
          for dir in subsystems/*; do
            if [ -d "$dir" ]; then
              subsystem=$(basename "$dir")
              echo "Running make for $subsystem..."
              make TARGETS=$subsystem subpackages
              if [ $? -ne 0 ]; then
                echo "âŒ Make failed for $subsystem" >&2
                exit 1
              fi
            fi
          done

